html 
  .popup
    .title 
      .logo 
        img(src="../../../images/network32.png")
      .name NTHU_ScoreSharing
    br
    
    .instructions
      p(style="font-size: 18px") NTHU_ScoreSharing 詳情
      p 只要按一下，就能看到歷年的課程資訊!
      p (以下為範例，如要看到各課程分佈，請到校務校統操作)
      br
      .showimg
        a.Syllabus Syllabus
        img(src="../../../images/example.PNG")
      br
      .function
        p 功能：
        p • 自動上傳成績及選課資料
        p • 自動填入驗證碼
        p • 瀏覽成績分布
        p • 課程評價 (under development)
        p • 及時志願序分布 (under development)
        p • 還原不公開的成績分布 (under development)
    br
    br
    .sharing 感謝您使用此共享成績服務，使用前請務必翻閱使用者條款與隱私權政策。
    
    div.link#link1 使用者條款與隱私權政策
    div.link#link2 校務系統網站
